<!-- 
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toggle-slider">
  <mat-button-toggle value="Per Acre" class="toggle-slider__button">Per Acre</mat-button-toggle>
  <mat-button-toggle value="Per Year">Per Year</mat-button-toggle>
</mat-button-toggle-group> -->

<div class="toggle-slider">
  <label for="1" class="toggle-slider__button">
    <input id="1" type="radio"  name="abc" value="PerAcre" class="toggle-slider__input">
    <div class="toggle-slider__title">Per Acre</div>
  </label>

  <label for="2" class="toggle-slider__button">
    <input id="2" type="radio" class="toggle-slider__input" name="abc" value="PerYear">
    <div class="toggle-slider__title">
      <div class="toggle-slider--verticle-center">
        Per Year
      </div>
    </div>
  </label>
</div>